.topBtn{
    background-color: #4b7bec !important;
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
}
.topBtn svg{
    width: 20px !important;
    height: 20px !important;
}
.topBtn:active{
    background-color: #3867d6!important;
}
@media screen and (max-width:576px){
    .topBtn{
        right: 6% !important;
    }
    .topBtn{
        width: 40px !important;
        height: 40px !important;
    }
}