.register{
    margin-top: 90px;
    min-height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.massageDiv{
    color: #4b7bec !important;
}

.my-form{
    padding: 20px 25px !important;
    border-top: 5px solid #4b7bec;
    box-shadow: 2px 2px 7px rgb(180, 182, 182);
    margin-bottom: 20px !important;
}
.my-form h2{
    margin-bottom: 20px ;
    color: #4b7bec !important;
    font-size: 35px ;
    font-weight: 500;
}
.my-form p{
    font-size: 18px ;
    font-weight: 500;
}
.register .form_btn{
    border-radius: 2px !important;
}
.rg_or_style{
    display: block;
    text-align: center; 
    margin: 10px 0;
    position: relative;
    font-size: 24px;
    font-size: 600 !important;
}
.rg_or_style::after{
    position: absolute;
    content: '';
    top: 48%;
    left: 0;
    background-color: #4b7bec;
    width: 44%;
    height: 3px;
}
.rg_or_style::before{
    position: absolute;
    content: '';
    top: 48%;
    right: 0;
    background-color: #4b7bec;
    width: 44%;
    height: 3px;
}
.rg_form_btn{
    background-color: #4b7bec !important;
    border: #4b7bec 2px solid !important;
    outline: #4b7bec !important;
    width: 100%;
    font-size: 17px !important;
    padding: 4px 10px !important;
    border-radius: 2px !important;
}
.register .form-label{
    font-size: 16px;
    font-weight: 500;
}
.register .form-control:focus {
    border-color: #4b7bec !important;
}
.register .form-control{
    padding: 4px 10px !important;
}

@media screen and (max-width: 576px) {
    .register{
        padding: 20px;
    }
    .rg_or_style::after{
        width: 40%;
    }
    .rg_or_style::before{
        width: 40%;
    }
    .my-form p{
        font-size: 16px ;
        font-weight: 400;
    }
}