
.carousel img{
    margin-top: 69px ;
    height: calc(100vh - 68px);
    width: 100vw;
    z-index: -99;
    object-fit: cover;
    object-position: center;
}

.carousel{
    position: relative;
}
.carousel::after{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.carousel-control-next, .carousel-control-prev {
    border-radius: 50%;
    width: 80px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    height: 80px !important;
    transition: .3s ease-in-out !important;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: rgba(252, 247, 247, 0.15) !important;
}

.carousel-caption{
    z-index: 999 !important;
    top: 50%;
    transform: translateY(-20%);
}
.carousel-caption h5{
    font-size: 16px;
    font-weight: 300;
    color: rgba(248, 248, 242, 0.644);
}
.carousel-caption p{
    color: rgba(248, 248, 242, 0.644);
}
.carousel-caption h2{
    font-size: 38px;
    margin: 15px 0;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    z-index: 100 !important;
}
.carousel-control-prev {
    z-index: 999 !important;
    left: 60px !important;
}
.carousel-control-next{
    right: 60px !important;
    z-index: 999 !important;
}
.carousel-indicators button{
    height: 20px !important;
    width: 20px !important;
    margin: 20px 3px !important;
    border-radius: 50%;
}
@media screen and (max-width: 991px){
    .carousel-control-prev {
        left: 40px !important;
    }
    .carousel-control-next{
        right: 40px !important;
    }
    .carousel-caption h2{
        margin: 10px 0;
        font-size: 28px;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 60px !important;
        height: 60px !important;
    }
    .carousel-indicators button{
        height: 18px !important;
        width: 18px !important;
    }
}


@media screen and (max-width: 767px){
    .carousel-indicators button{
        height: 16px !important;
        width: 16px !important;
        margin: 15px 0;
    }
    .carousel-caption p{
        font-size: 15px !important;
    }
    .carousel-control-prev {
        left: 30px !important;
    }
    .carousel-control-next{
        right: 30px !important;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 50px !important;
        height: 50px !important;
    }
}



@media screen and (max-width: 567px){
    .carousel-control-next, .carousel-control-prev {
        width: 40px !important;
        height: 40px !important;
    }
    .carousel-control-prev {
        left: 15px !important;
    }
    .carousel-control-next{
        right: 15px !important;
    }
    .carousel-caption h2{
        margin: 10px 0;
        font-size: 24px;
    }
    .carousel-caption p,.carousel-caption h5{
        font-size: 14px ;
    }
    .carousel-indicators button{
        height: 14px !important;
        width: 14px !important;
    }
    .carousel-caption p{
        font-size: 13px !important;
    }
    .carousel-caption h5{
        font-size: 14px;
    }
    .carousel-caption{
        transform: translateY(-25%);
    }
}


@media screen and (max-width: 420px){
    .carousel-control-prev {
        left: 10px !important;
    }
    .carousel-control-next{
        right: 10px !important;
    }
    .carousel-caption h2{
        margin: 10px 0;
        font-size: 20px;
    }
}