.google_btn{
    background-color: transparent !important;
    border:2px solid #4b7bec !important;
    color: #4b7bec !important;
    padding: 4px 10px !important;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 2px !important;
    transition: .3s ease-in-out !important;
}
.google_btn:hover{
    background-color: #4b7bec !important;
    border:2px solid #4b7bec !important;
    color: #fcfdff !important;
}
.google_p{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
@media screen and (max-width:575px){
    .google_btn{
        width: 100%;
        margin-right: 0%;
        margin-bottom: 15px;
        font-size: 15px !important;
    }
}