.all_hero{
    padding: 70px 0;
}
.all_img img{
    width: 100%;
}
.all_img{
    position: relative;
}
.all_img::after{
    position: absolute;
    content: '';
    bottom: 7%;
    right: 5%;
    border: 5px solid #45aaf2;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.all_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all_text h4{
    text-transform: uppercase;
    color: #45aaf2;
    position: relative;
    display: inline-block;
}
.all_text h4::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #45aaf2;
    top: 65%;
    left: 105%;
}
.all_text h4::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: #45aaf2;
    top: 35%;
    left: 105%;
}
.all_text h2{
    color: #182C61;
    font-size: 40px;
    margin-block: 15px;
}
.all_text p{
    margin-bottom: 20px;
}
@media screen and (max-width: 991px){
    .all_text{
        margin-top: 30px;
    }
}
@media screen and (max-width: 767px){
    .all_img::after{
        bottom: 6%;
        right: 4%;
        border: 4px solid #45aaf2;
    }
    .all_hero{
        padding: 55px 0;
    }
    .all_text h2{
        font-size: 35px;
        margin-block: 10px;
    }
    .all_text_wrapper{
        text-align: center;
    }
    .all_text h4::after{
        height: 2px;
    }
    .all_text h4::before{
        height: 2px;
    }
}
@media screen and (max-width: 575px){
    .all_img::after{
        border: none;
    }
    .all_text h2{
        font-size: 28px;
    }
    .all_text h4{
        font-size: 17px;
    }
}