.free_trial{
    padding: 30px 0;
}
.trial_img{
    display: flex;
    justify-content: center;
}
.trial_img img{
    width: 70%;
    height: 70%;
}
.trial_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trial_text h5{
    color: #4b7bec;
}
.trial_text h2{
    color: #182C61;
    font-size: 40px;
    margin: 10px 0;
}
.trial_text p{
    color: rgba(0, 0, 0, 0.459);
    margin-bottom: 15px;
}
.trial_btn{
    overflow: hidden;
}
.trial_btn span{
    margin-left: -165px;
    padding: 8px;
    color: #4b7bec;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid rgba(40, 118, 252, 0.623);
    z-index: 111 !important;
    outline: 4px solid rgb(45, 117, 224);
}
.trial_btn a{
    color: #fff !important;
    text-decoration: none;
}
.trial_left_btn{
    padding: 5px 30px 5px 15px;
    margin-right: 10px;
    border: none;
    color: #fff;
    background-color: rgb(8, 67, 168);
}
.trial_right_btn{
    padding: 5px 15px 5px 30px;
    margin-left: 15px;
    background-color: rgb(8, 67, 168);
    border: none;
    color: #fff;
}
@media screen and (max-width:991px){
    .trial_text h2{
        font-size: 33px;
    }
}
@media screen and (max-width:767px){
    .trial_text h2{
        font-size: 32px;
    }
    .trial_text{
        text-align: center;
    }
    .trial_btn{
        margin: auto;
        transform: translate(-11%);
    }
    .free_trial{
        padding: 10px 0;
    }
}
@media screen and (max-width:575px){
    .trial_text h2{
        font-size: 28px;
    }
}
@media screen and (max-width:466px){
    .trial_btn{
        transform: translate(-13%);
    }
    .trial_left_btn{
        padding: 5px 30px 5px 15px;
        margin-right: 10px;
        font-size: 15px;

    }
    .trial_right_btn{
        padding: 5px 15px 5px 25px;
        margin-left: 10px;
        font-size: 15px;
    }
    .trial_btn span{
        margin-left: -155px;
    }
}