.fb_p{
    font-size: 20px;
    text-align: center;
}
.fb_btn{
    background-color: transparent !important;
    border: 2px solid #45aaf2 !important;
    color: #45aaf2 !important;
    padding: 4px 10px !important;
    width: 100%;
    border-radius: 2px !important;
    transition: .3s ease-in-out !important;
}
.fb_btn:hover{
    background-color: transparent !important;
    border: 2px solid #196fac !important;
    color: #176ba7 !important;
}

@media screen and (max-width:575px){
    .fb_btn{
        width: 100%;
        margin-left: 0%;
    }
}